<form action="" class="form-horizontal" (ngSubmit)="handleSubmit()" [formGroup]="formulario">
  <div class="form-group">
    <div class="form-row">

    <div class="col-sm-12">
      <label for="nome">Nome</label>
    </div>

    <div class="col-sm-12">
      <input  type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome" required>

      <!-- <app-campo-control-erro msgErro="Nome é obrigatório." [mostrarErro]="verificaValidTouched(nome)"></app-campo-control-erro> -->
    </div>
    </div>

  </div>

  <div class="form-group">
    <div class="form-row">

    <div class="col-sm-12">
    <label for="email">E-mail</label>
    </div>

    <div class="col-sm-12">
      <input email type="email" class="form-control" id="email" formControlName="email" required placeholder="nome@email.com">
      <!-- <app-campo-control-erro msgErro="E-mail inválido." [mostrarErro]="verificaValidTouched(email)"></app-campo-control-erro> -->
    </div>
    </div>

  </div>

  <button class="btn btn-primary" type="submit">Enviar</button>
  <button class="btn btn-warning" (click)="resetar()">Cancelar</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>


