<form action="" class="form-horizontal" (ngSubmit)="handleSubmit()" [formGroup]="formulario">
  <div class="form-group">
    <div class="form-row">

    <div class="col-sm-12">
      <label for="nome">Nome</label>
    </div>

    <div class="col-sm-12">
      <input  type="text" class="form-control" [ngClass]="aplicaCSSdeErro('nome')" id="nome" formControlName="nome" placeholder="Nome" required>

      <!-- <div *ngIf="verificaValidTouched('nome')"
        class="alert alert-danger" role="alert"
        >
          Nome é obrigatório.
      </div> -->
      <!-- <app-campo-control-erro msgErro="Nome é obrigatório."
      [mostrarErro]="verificaValidTouched('nome')"></app-campo-control-erro> -->
      <app-error-msg [control]="getCampoAbstractControl('nome')" label="Nome"></app-error-msg>

    </div>
    </div>

  </div>

  <div class="form-group">
    <div class="form-row">

    <div class="col-sm-12">
    <label for="email">E-mail</label>
    </div>

    <div class="col-sm-12">
      <input email type="email"  [ngClass]="aplicaCSSdeErro('email')" class="form-control" id="email" formControlName="email" required placeholder="nome@email.com">
      <app-campo-control-erro msgErro="E-mail é obrigatório." [mostrarErro]="verificaValidTouched('email')"></app-campo-control-erro>
      <app-campo-control-erro msgErro="E-mail inválido." [mostrarErro]="verificaEmailInvalido()"></app-campo-control-erro>
    </div>
    </div>

  </div>

  <!-- Confirmar email -->
  <div class="form-group">
    <div class="form-row">

    <div class="col-sm-12">
    <label for="confirmarEmail">Confirmar e-mail</label>
    </div>

    <div class="col-sm-12">
      <input email type="confirmarEmail"  [ngClass]="aplicaCSSdeErro('confirmarEmail')" class="form-control" id="confirmarEmail" formControlName="confirmarEmail" required placeholder="nome@email.com">
      <app-campo-control-erro msgErro="E-mails não são iguais." [mostrarErro]="confirmarEmail()"></app-campo-control-erro>
      <app-campo-control-erro msgErro="Validando email" [mostrarErro]="formulario.get('confirmarEmail')?.status === 'PENDING'"></app-campo-control-erro>
      <app-campo-control-erro msgErro="Email válido" [mostrarErro]="formulario.get('confirmarEmail')?.status === 'VALID'"></app-campo-control-erro>
      <app-campo-control-erro msgErro="Email ja cadastrado" [mostrarErro]="temErroEmail()"></app-campo-control-erro>
    </div>
    </div>

  </div>


  <!-- ENDERECO -->
  <div formGroupName="endereco">
    <div class="form-group" [ngClass]="aplicaCSSdeErro('endereco.cep')">
      <div class="form-row">
        <!-- CEP -->
        <div class="col-md-3">
            <label for="cep" class="control-label">CEP</label>
            <input type="text"
            (blur)="consultarCEP()"
            formControlName="cep"
            class="form-control" id="cep" />
            <app-campo-control-erro msgErro="CEP é obrigatório" [mostrarErro]="verificaValidTouched('endereco.cep')"></app-campo-control-erro>
            <app-campo-control-erro [mostrarErro]="temErro()" msgErro="CEP inválido."></app-campo-control-erro>
        </div>
        <!-- NUMERO -->
        <div class="col-md-3">
          <label for="numero" class="control-label">Número</label>
          <input type="text" formControlName="numero" [ngClass]="aplicaCSSdeErro('endereco.numero')" class="form-control" id="numero" />
          <app-campo-control-erro app-campo-control-erro msgErro="Número inválido" [mostrarErro]="verificaValidTouched('endereco.numero')"></app-campo-control-erro>

        </div>

        <div class="col-md-6">
          <label for="complemento" class="control-label">Complemento</label>
          <input formControlName="complemento" type="text" class="form-control" id="complemento"/>
        </div>

      </div>

    </div>

    <div class="form-group" [ngClass]="aplicaCSSdeErro('endereco.rua')">
      <div class="form-row">

      <div class="col-sm-12">
        <label for="rua">Rua</label>
      </div>

      <div class="col-sm-12">
        <input readonly formControlName="rua" [ngClass]="aplicaCSSdeErro('endereco.rua')" type="text" class="form-control" id="rua" placeholder="rua">
        <app-campo-control-erro msgErro="Rua é obrigatório." [mostrarErro]="verificaValidTouched('endereco.rua')"></app-campo-control-erro>

      </div>
      </div>
    </div>

    <div class="form-group" [ngClass]="aplicaCSSdeErro('endereco.bairro')">
      <div class="form-row">
        <div class="col-md-5">
          <label for="bairro" class="control-label">Bairro</label>
          <input formControlName="bairro" [ngClass]="aplicaCSSdeErro('endereco.bairro')" type="text" class="form-control" id="bairro"/>
          <app-campo-control-erro msgErro="Bairro é obrigatório." [mostrarErro]="verificaValidTouched('endereco.bairro')"></app-campo-control-erro>

        </div>

        <div class="col-md-4" [ngClass]="aplicaCSSdeErro('endereco.cidade')">
          <label for="cidade" class="control-label">Cidade</label>
          <input formControlName="cidade" [ngClass]="aplicaCSSdeErro('endereco.cidade')" type="text" class="form-control" id="cidade"/>
        <app-campo-control-erro msgErro="Cidade é obrigatório." [mostrarErro]="verificaValidTouched('endereco.cidade')"></app-campo-control-erro>

        </div>

        <div class="col-md-3" [ngClass]="aplicaCSSdeErro('endereco.estado')">
          <label for="estado" class="control-label">Estado</label>
          <!-- Criando o Select para estado -->
          <select id="estado" formControlName="estado" class="form-control" >
              <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{estado.nome}}</option>
          </select>
          <app-campo-control-erro msgErro="Estado é obrigatório." [mostrarErro]="verificaValidTouched('endereco.estado')"></app-campo-control-erro>

        </div>

      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">

    <div class="col-md-3" [ngClass]="aplicaCSSdeErro('cargo')">
      <label for="cargo" class="control-label">Cargo</label>
      <!-- Criando o Select para cargo -->
      <select id="cargo" formControlName="cargo" [compareWith]="compararCargos" class="form-control" >
          <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{cargo.desc}}</option>
      </select>

    </div>

    <div class="col-md-3" [ngClass]="aplicaCSSdeErro('tecnologias')">
      <label for="tecnologias" class="control-label">Tecnologias</label>
      <!-- Criando o Select para cargo -->
      <select multiple id="tecnologias" formControlName="tecnologias" class="form-control" >
          <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{tecnologia.desc}}</option>
      </select>

    </div>

    <div class="col-md-3" [ngClass]="aplicaCSSdeErro('newsletter')">
      <label for="newsletter" class="control-label">Newsletter</label>
      <div id="newsletter"  class="row">
        <div  class="col-sm-4" *ngFor="let item of newsletterOp">
          <div class="input-group-text">
            <input [value]="item.valor" formControlName="newsletter" type="radio"> {{item.desc}}
          </div>
        </div>

      </div>
    </div>

    </div>
  </div>

  <div class="from-group">
    <div class="form-row">
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" [ngClass]="aplicaCSSdeErro('termos')" formControlName="termos" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
        <label class="form-check-label" for="invalidCheck3">
          Agree to terms and conditions
        </label>
        <div id="invalidCheck3Feedback" class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="from-group">
    <div class="form-row">
      <label for="frameworks">Frameworks</label>

      <div id="frameworks" class="col">
        <div class="row-12">
          <div class="form-check" formArrayName="frameworks"
            *ngFor="let item of getFrameworksControls(); let i = index"
          >
            <input [formControlName]="i" class="form-check-input" type="checkbox">
            {{frameworks[i]}}
          </div>
        </div>
        <!-- <p>{{getCampo('frameworks').valid}}</p> -->
        <app-campo-control-erro msgErro="Selecione 1 opção." [mostrarErro]="!getCampo('frameworks').valid"></app-campo-control-erro>
      </div>
    </div>
  </div>





  <!-- BTNS -->

  <button class="btn btn-primary" type="submit">Enviar</button>
  <button class="btn btn-info" (click)="setarCargo()">Cargo</button>
  <button class="btn btn-info" (click)="setarTecnologias()">Tecnologias</button>
  <button class="btn btn-warning" (click)="resetar()">Cancelar</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>


