<form action="" #f="ngForm" (ngSubmit)="handleSubmit(f)">
  <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
    <label for="nome">Nome</label>
    <input #nome="ngModel" type="text" class="form-control" id="nome" name="nome" [(ngModel)]="usuario.nome" placeholder="Nome" required>

    <div *ngIf="!nome.valid && nome.touched"
    class="alert alert-danger" role="alert"
    >
      Nome é obrigatório.
    </div>

    <!--
    <div>
      {{nome.className}}
    </div>
    -->
  </div>

  <div class="form-group" [class.has-error]="!email.valid && email.touched">
    <label for="email">E-mail</label>
    <input email #email="ngModel" type="email" class="form-control" id="email" name="email" [(ngModel)]="usuario.email" required placeholder="nome@email.com">

    <div *ngIf="!email.valid && email.touched"
    class="alert alert-danger" role="alert">
      E-mail inválido.
    </div>

  </div>

  <div class="form-group">
    <label for="curso">Curso</label>
    <input type="text" class="form-control" id="curso" name="curso" [ngModel]="usuario.curso" placeholder="Math">
  </div>

  <button class="btn btn-primary" type="submit">Enviar</button>
</form>


