<form action="" #f="ngForm" (ngSubmit)="handleSubmit(f)">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input #nome type="text" class="form-control" id="nome" name="nome" [(ngModel)]="usuario.nome" placeholder="Nome" required>
    <!-- <div>
      {{nome.className}}
    </div> -->
  </div>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input email type="email" class="form-control" id="email" name="email" [(ngModel)]="usuario.email" required placeholder="nome@email.com">
  </div>

  <div class="form-group">
    <label for="curso">Curso</label>
    <input type="text" class="form-control" id="curso" name="curso" [ngModel]="usuario.curso" placeholder="Math">
  </div>

  <button class="btn btn-primary" type="submit">Enviar</button>
</form>
